body {
}
#mySidenav {
    position: absolute;
    z-index: 1000;
    left: 0;
}
#mySidenav a {
    position: absolute;
    left: -80px;
    transition: 0.3s;
    padding: 15px;
    width: 150px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
    text-align:end;
 
}

    #mySidenav a:hover {
        left: 0;
    }

#agua {
    top: 300px;
    background-color:;
}

#refri {
    top: 380px;
    background-color: #04AA6D;

}

#cumple {
    top: 460px;
    background-color:;
}

#dulceria {
    top: 540px;
    background-color:;
}

